<div class="container-fluid mt-5">
  <div class="jumbotron">
    <h1 class="display-4">View Bookings</h1>
    <hr class="my-4">
    <div class="card">
      <div class="card-body">
        <label class="text-bold" name="basic-addon1">Search booking</label>
        <div class="row">
            <div class="input-group mb-1 col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" required placeholder="reference or cellphone or registration" [(ngModel)]="searchStr" #searcher="ngModel" (keyup.enter)="viewBookings()">
              </div>
            <!-- <div class="input-group mb-3 col-lg-6 col-md-12">
              
              <input class="form-control" required placeholder="yyyy-mm-dd" name="dc" [(ngModel)]="searchDate" ngbDatepicker #dc="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dc.toggle()" type="button"></button>
              </div>
            </div> -->
            <div class="col-lg-2 col-md-12">
              <button class="btn btn-success mb-1" type="button" [disabled]="loading" (click)="viewBookings()">{{loading ?
                'loading...' : 'Search'}}</button>
            </div>
            <div class="input-group mb-3 col-lg-4 col-md-12" *ngIf="cache && cache.length > 1">
                <input class="form-control" required placeholder="filter by reference, name, surname or registration" name="filter" [(ngModel)]="filtervalue" (keyup)='updateFilter()'>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary fa fa-close" [disabled]="!(filtervalue && filtervalue.length)" (click)="clearFilter()" type="button"></button>
                </div>
              </div>
        </div>
        
        <div class="col-6 text-center">
        </div>
        <hr class="my-1">
        <div class="col-12">
            
          <ngx-datatable class="bootstrap" [messages]="messages" [rows]="bookings" [loadingIndicator]="loading" [columnMode]="'flex'" [headerHeight]="40" [footerHeight]="40" [limit]="10" [rowHeight]="'auto'"
            [reorderable]="true" [scrollbarH]="true">

            <ngx-datatable-column name="Reference#" prop="reference" [flexGrow]="1.5">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Check In" prop="checkIn" [flexGrow]="3">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | date:'yyyy/MM/dd HH:mm'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Check Out" prop="checkout" [flexGrow]="3">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'yyyy/MM/dd HH:mm'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" prop="title" [flexGrow]="3">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                {{row.title}} {{row.name}} {{row.surname}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Registration" prop="vehicle.registration" [flexGrow]="2">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                {{row.registration}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Bay #" prop="bayNumber" [flexGrow]="1">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                {{row.bayNumber}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status" [flexGrow]="1.5">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service" prop="service" [flexGrow]="1.5">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
            <ngx-datatable-column name="" prop="id" [flexGrow]="2" [sortable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <app-create-booking-modal [buttonClass]="'btn btn-warning btn-sm m-1 fa fa-pencil'" [bookingExisting]="row" [buttonText]="''" *ngIf="row.status &&  row.status.toLowerCase() !== 'invoiced'"></app-create-booking-modal>
                <button type="button" *ngIf="row.status &&  row.status.toLowerCase() === 'newbooking'" class="btn btn-success btn-sm" (click)="checkin(row)">Check In</button>
                 <app-checkout-booking-modal *ngIf="row.status && row.status.toLowerCase() === 'checkedin'" [booking]="row"></app-checkout-booking-modal>
                 <button type="button" *ngIf="row.status && row.status.toLowerCase() === 'invoiced'" class="btn btn-success btn-sm" (click)="printInvoice(row.bookingId)">Print</button>
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>