<!-- Button trigger modal -->
<button type="button" [class]="buttonClass" (click)="openLg(content)">{{buttonText}}</button>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="updateMode">Update Booking</h4>
    <h4 class="modal-title" *ngIf="!updateMode">New Booking for {{customer?.title}} {{customer?.name}}
      {{customer?.surname}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bookingForm="ngForm">
      <div class="form-group">
        <div class="card">
          <div class="card-header">
            <span>Choose the dates for the Booking</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="form-group mb-3">
                  <label class="text-bold" name="basic-addon1">Check In Date *</label>
                  <div class="input-group">
                    <input class="form-control" required placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dropDate" type="date"
                      ngbDatepicker container='body' [disabled]="updateMode && booking.status.toLowerCase() === 'checkedin'"
                      #dp="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dp.toggle()" disabled="true"
                        type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6">
                <div class="form-group mb-3">
                  <label class="text-bold" name="basic-addon1">Time *</label>
                  <div class="input-group">
                    <select class="form-control" name="dropTime" required [(ngModel)]="dropTime" [disabled]="updateMode && booking.status.toLowerCase() === 'checkedin'"
                      aria-describedby="basic-addon1">
                      <option *ngFor="let time of times" [value]="time">{{(time > 9 ? '' + time : '0' + time) +
                        ':00'}}</option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-group mb-3">
                  <label class="text-bold" name="basic-addon1">Check Out Date *</label>
                  <div class="input-group">
                    <input class="form-control" required placeholder="yyyy-mm-dd" name="dc" [(ngModel)]="collectionDate"
                      type="date" ngbDatepicker container='' #dc="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dc.toggle()" disabled="true"
                        type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6">
                <div class="form-group mb-3">
                  <label class="text-bold" name="basic-addon1">Time *</label>
                  <div class="input-group">
                    <select class="form-control" name="collectionTime" required [(ngModel)]="collectionTime"
                      aria-describedby="basic-addon1">
                      <option *ngFor="let time of times" [value]="time">{{(time > 9 ? '' + time : '0' + time) +
                        ':00'}}</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>

            <div class="card col-12 mb-1">
              <label class="text-bold" name="basic-addon1">Additional Services</label>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                  <input type="radio" name="options" id="option0" autocomplete="off" checked [value]="null" [(ngModel)]="booking.service">
                  None
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" id="option1" autocomplete="off" [value]="'Wash And Go'"
                    [(ngModel)]="booking.service"> Wash And Go
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" id="option2" autocomplete="off" [value]="'Wash And Vacuum'"
                    [(ngModel)]="booking.service"> Wash And Vacuum
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" id="option3" autocomplete="off" [value]="'Mini Valet'" [(ngModel)]="booking.service">
                  Mini Valet
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" id="option3" autocomplete="off" [value]="'Full Valet'" [(ngModel)]="booking.service">
                  Full Valet
                </label>
              </div>
            </div>
            <div class="card col-l2">
              <label class="text-bold" name="basic-addon1">Payment type</label>
              <div class="btn-group" data-toggle="radio">
                <label class="btn btn-default">
                  <input type="radio" id="card" name="paymentType" [value]="'card'" [(ngModel)]="booking.paymentType"> Card
                </label>
                <label class="btn btn-default">
                  <input type="radio" id="cash" name="paymentType" [value]="'cash'" [(ngModel)]="booking.paymentType"> Cash
                </label>
                <label class="btn btn-default">
                  <input type="radio" id="voucher" name="paymentType" [value]="'voucher'" [(ngModel)]="booking.paymentType">
                  Voucher
                </label>
              </div>
              <div class="m-1" *ngIf="!!booking.paymentType && booking.paymentType === 'voucher'">
                <label class="btn btn-default" for="voucherCount">
                  <input type="number" id="voucherCount" name="voucherCount" required [(ngModel)]="booking.voucherCount">No. of
                  Vouchers</label>
              </div>
            </div>
            <div class=" col-lg-12 col-md-12">
              <div class="card-body">
                <div class="form-group">
                  <div class="">
                    <span class="text-bold" name="baynumber">Bay Number</span>
                  </div>
                  <input type="text" class="form-control" name="baynumber" aria-describedby="baynumber" [(ngModel)]="booking.bayNumber">
                </div>
                <div class="form-group">
                  <div class="">
                    <span class="text-bold" name="baynumber">Notes</span>
                  </div>
                  <textarea type="text" class="form-control" name="notes" aria-describedby="notes" [(ngModel)]="booking.notes"></textarea>
                </div>
                <div class="form-group" *ngIf="updateMode">
                  <div class="">
                    <span class="text-bold" name="baynumber">Status</span>
                  </div>
                  <input type="text" class="form-control" name="baynumber" aria-describedby="baynumber" readonly
                    [value]="booking.status">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    <button class="btn btn-success" [disabled]="bookingForm.invalid || loading" *ngIf="!updateMode" (click)="createBooking()"
      type="submit">{{loading
      ? 'Please wait..':'Create'}}</button>
    <button class="btn btn-success" [disabled]="bookingForm.invalid || loading" *ngIf="updateMode" (click)="updateBooking()"
      type="submit">{{loading
      ? 'Please wait..':'Update'}}</button>
  </div>
</ng-template>