<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> Brand </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item m-2">
        <a routerLink="/new/booking" routerLinkActive="active">New Booking</a>
      </li>

      <li class="nav-item m-2">
        <a routerLink="/view/bookings" routerLinkActive="active">
          View Bookings</a
        >
      </li>
    </ul>
  </div>
</nav>
