<div class="container-fluid mt-5">
  <div class="jumbotron">
    <h1 class="display-3">View Bookings</h1>
    <p class="lead">Your VALET Parking at OR Tambo International Airport.</p>
    <hr class="my-4">
    <div class="card">
      <div class="card-header">
          <div class="input-group mb-3 col-lg-4 col-md-12">
              <div class="input-group-prepend d-none d-lg-block d-sm-none">
                  <span class="input-group-text" id="basic-addon1">Check Out: </span>
                </div>
              <input type="date" class="form-control" placeholder="Booking Date" aria-label="Booking Date" aria-describedby="basic-addon2" [(ngModel)]="searchDate">
              <div class="input-group-append">
                <button class="btn btn-success" type="button" [disabled]="loading" (click)="viewBookings()">{{loading ? 'loading...' : 'Search'}}</button>
              </div>
            </div>
        <div class="col-6 text-center">
      </div>
    </div>
    <div class="card-body">
      <div class="col-12">
          <table class="table table-responsive table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Booking #</th>
                  <th scope="col">Check In</th>
                  <th scope="col">Check Out</th>
                  <th scope="col">Registration</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Bay</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of bookings">
                  <th scope="row">{{booking.bookingId}}</th>
                  <td>{{booking.checkIn | date:'medium'}}</td>
                  <td>{{booking.checkout | date:'medium'}}</td>
                  <td>{{booking.vehicle.registration | uppercase}}</td>
                  <td>{{booking.owner.title}} {{booking.owner.name}} {{booking.owner.surname}}</td>
                  <td>{{booking.bayNumber}}</td>
                  <td>{{booking.isComplete ? 'Complete' : 'Open'}}</td>
                  <td><input type="button" class="btn btn-sm btn-success" value="view" (click)="viewABooking(booking)"></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>