<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm" (click)="openLg(content)">Check Out</button>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Check Out for {{booking?.title}} {{booking?.surname}} - {{booking?.registration}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #checkoutForm="ngForm">
      <div class="form-group">
        <div class="card">
          <div class="col-lg-12 col-md-12">
              <label class="text-bold" name="basic-addon1">Payment type</label>
            <div class="btn-group" data-toggle="radio">
              <label class="btn btn-default">
                <input type="radio" required name="paymentType" id="option0"  value="cash" [(ngModel)]="booking.paymentType">
                Cash
              </label>
              <label class="btn btn-default">
                <input type="radio" required name="paymentType" id="option1" value="card" [(ngModel)]="booking.paymentType">
                Debit/Credit Card
              </label>
              <label class="btn btn-default">
                  <input type="radio" required name="paymentType" id="option2" value="voucher" [(ngModel)]="booking.paymentType">
                  Voucher
                </label>
            </div>
            <div class="m-1" *ngIf="!!booking.paymentType && booking.paymentType === 'voucher'">
                <label class="btn btn-default" for="voucherCount">
                  <input type="number" id="voucherCount" name="voucherCount" required [(ngModel)]="booking.voucherCount">No. of
                  Vouchers</label>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    <button class="btn btn-success" [disabled]="checkoutForm.invalid || loading" (click)="checkout()" type="submit">{{loading
      ? 'Please wait..':'Check Out'}}</button>
  </div>
</ng-template>