<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form action="index.html">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>LOCATION:</h4>
                                <select class="custom-select">
                                  <option selected>Select</option>
                                  <option selected>OR Tambo</option>
                                </select>
                            </div>
                            <!--== Pick Up Location ==-->

                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>DROP-OFF DATE:</h4>
                                <input id="startDate" placeholder="Pick Up Date" />

                                <div class="return-car">
                                    <h4>PICK-UP DATE:</h4>
                                    <input id="endDate" placeholder="Return Date" />
                                </div>
                            </div>
                            <!--== Pick Up Location ==-->

                            

                            <div class="book-button text-center">
                                <button class="book-now-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->